#root {
  --Very-dark-cyan: hsl(183, 100%, 15%);
  --Dark-grayish-cyan: hsl(186, 14%, 43%);
  --Grayish-cyan: hsl(184, 14%, 56%);
  --Light-grayish-cyan: hsl(185, 41%, 84%);
  --Very-light-grayish-cyan: hsl(189, 41%, 97%);
  --White: hsl(0, 0%, 100%);
}

.middlegrid {
  height: 40%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
  color: var(--Dark-grayish-cyan);
}

.upperbuttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
}

.lowerbuttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
}

#custom {
  width: 3rem;
  color: var(--Very-dark-cyan);
  font-weight: 900;
}

#custom:hover {
  background-color: var(--Light-grayish-cyan);
}

.buttons {
  width: 6rem;
  background-color: var(--Very-dark-cyan);
}

.buttons:hover {
  background-color: var(--Grayish-cyan);
}
