#root {
  --Very-dark-cyan: hsl(183, 100%, 15%);
  --Dark-grayish-cyan: hsl(186, 14%, 43%);
  --Grayish-cyan: hsl(184, 14%, 56%);
  --Light-grayish-cyan: hsl(185, 41%, 84%);
  --Very-light-grayish-cyan: hsl(189, 41%, 97%);
  --White: hsl(0, 0%, 100%);
}

.uppergrid {
  height: 30%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  color: var(--Dark-grayish-cyan);
}

.inputholder {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 2px solid var(--Dark-grayish-cyan);
  border-radius: 3px;
  background-color: var(--Light-grayish-cyan);
  cursor: pointer;
}

.dollars {
  font-weight: 900;
  color: var(--Very-dark-cyan);
  font-family: "Courier New", Courier, monospace;
}
